<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="file" fileName="logs/${shortdate}.log" layout="${time}|${level:uppercase=true}|${logger:shortName=true}|${message} ${exception:format=tostring}" />
    <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.Extensions.Diagnostics.HealthChecks*">
      <logger name="*" minlevel="Warning" writeTo="file,console" final="true" />
      <logger name="*" final="true" />
    </logger>
    <logger name="Microsoft.AspNetCore*">
      <logger name="*" minlevel="Warning" writeTo="file,console" final="true" />
      <logger name="*" final="true" />
    </logger>
    <logger name="System.Net.Http*">
      <logger name="*" minLevel="Warning" writeTo="file,console" final="true" />
      <logger name="*" final="true" />
    </logger>
    <logger name="Microsoft.Hosting.Lifetime*">
      <logger name="*" minLevel="Warning" writeTo="file,console" final="true" />
      <logger name="*" final="true" />
    </logger>
    <logger name="*" writeTo="file,console" />
  </rules>
</nlog>
